HolidayReservationSystemJavaSEClient/xml-resources/web-service-references/HotelReservationSystemWebService/wsdl/localhost_8080/HotelReservationSystemWebService/HotelReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HotelReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HotelReservationSystemWebService/HotelReservationSystemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getDate">
<part name="parameters" element="tns:getDate"/>
</message>
<message name="getDateResponse">
<part name="parameters" element="tns:getDateResponse"/>
</message>
<message name="searchRooms">
<part name="parameters" element="tns:searchRooms"/>
</message>
<message name="searchRoomsResponse">
<part name="parameters" element="tns:searchRoomsResponse"/>
</message>
<message name="getListOfPair">
<part name="parameters" element="tns:getListOfPair"/>
</message>
<message name="getListOfPairResponse">
<part name="parameters" element="tns:getListOfPairResponse"/>
</message>
<message name="getListOfPairRt">
<part name="parameters" element="tns:getListOfPairRt"/>
</message>
<message name="getListOfPairRtResponse">
<part name="parameters" element="tns:getListOfPairRtResponse"/>
</message>
<message name="getLocalDate">
<part name="parameters" element="tns:getLocalDate"/>
</message>
<message name="getLocalDateResponse">
<part name="parameters" element="tns:getLocalDateResponse"/>
</message>
<message name="getnullLocalDate">
<part name="parameters" element="tns:getnullLocalDate"/>
</message>
<message name="getnullLocalDateResponse">
<part name="parameters" element="tns:getnullLocalDateResponse"/>
</message>
<message name="reserveRoom">
<part name="parameters" element="tns:reserveRoom"/>
</message>
<message name="reserveRoomResponse">
<part name="parameters" element="tns:reserveRoomResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<message name="viewAllReservations">
<part name="parameters" element="tns:viewAllReservations"/>
</message>
<message name="viewAllReservationsResponse">
<part name="parameters" element="tns:viewAllReservationsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="HotelReservationSystemWebService">
<operation name="getDate">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getDateRequest" message="tns:getDate"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getDateResponse" message="tns:getDateResponse"/>
</operation>
<operation name="searchRooms">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/searchRoomsRequest" message="tns:searchRooms"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/searchRoomsResponse" message="tns:searchRoomsResponse"/>
</operation>
<operation name="getListOfPair">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getListOfPairRequest" message="tns:getListOfPair"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getListOfPairResponse" message="tns:getListOfPairResponse"/>
</operation>
<operation name="getListOfPairRt">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getListOfPairRtRequest" message="tns:getListOfPairRt"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getListOfPairRtResponse" message="tns:getListOfPairRtResponse"/>
</operation>
<operation name="getLocalDate">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getLocalDateRequest" message="tns:getLocalDate"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getLocalDateResponse" message="tns:getLocalDateResponse"/>
</operation>
<operation name="getnullLocalDate">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getnullLocalDateRequest" message="tns:getnullLocalDate"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getnullLocalDateResponse" message="tns:getnullLocalDateResponse"/>
</operation>
<operation name="reserveRoom">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/reserveRoomRequest" message="tns:reserveRoom"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/reserveRoomResponse" message="tns:reserveRoomResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/reserveRoom/Fault/Exception"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
</operation>
<operation name="viewAllReservations">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewAllReservationsRequest" message="tns:viewAllReservations"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewAllReservationsResponse" message="tns:viewAllReservationsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="HotelReservationSystemWebServicePortBinding" type="tns:HotelReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListOfPair">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListOfPairRt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLocalDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getnullLocalDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HotelReservationSystemWebService">
<port name="HotelReservationSystemWebServicePort" binding="tns:HotelReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/HotelReservationSystemWebService/HotelReservationSystemWebService"/>
</port>
</service>
</definitions>