HolidayReservationSystemJavaSEClient/xml-resources/web-service-references/HotelReservationSystemWebService/wsdl/localhost_8080/HotelReservationSystemWebService/HotelReservationSystemWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="EntityMissingException" type="tns:EntityMissingException"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="InvalidDateRangeException" type="tns:InvalidDateRangeException"/>

<xs:element name="WrongAccountTypeException" type="tns:WrongAccountTypeException"/>

<xs:element name="getRoomReservationRate" type="tns:getRoomReservationRate"/>

<xs:element name="getRoomReservationRateResponse" type="tns:getRoomReservationRateResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="reserveRoom" type="tns:reserveRoom"/>

<xs:element name="reserveRoomResponse" type="tns:reserveRoomResponse"/>

<xs:element name="searchRooms" type="tns:searchRooms"/>

<xs:element name="searchRoomsResponse" type="tns:searchRoomsResponse"/>

<xs:element name="viewAllReservations" type="tns:viewAllReservations"/>

<xs:element name="viewAllReservationsResponse" type="tns:viewAllReservationsResponse"/>

<xs:element name="viewReservationDetails" type="tns:viewReservationDetails"/>

<xs:element name="viewReservationDetailsResponse" type="tns:viewReservationDetailsResponse"/>

<xs:complexType name="searchRooms">
<xs:sequence>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoomsResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomCount" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomCount">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nextHigherRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="normalRate" type="xs:double" minOccurs="0"/>
<xs:element name="publishedRate" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidDateRangeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservationDetails">
<xs:sequence>
<xs:element name="reservationId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservationDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="allocatedRoom" type="tns:room" minOccurs="0"/>
<xs:element name="account" type="tns:account" minOccurs="0"/>
<xs:element name="checkedIn" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="currentBooking" type="tns:booking" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="expectedBooking" type="tns:booking" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="tns:accountType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservations">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EntityMissingException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WrongAccountTypeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomReservationRate">
<xs:sequence>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomReservationRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoom">
<xs:sequence>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long"/>
<xs:element name="partnerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="accountType">
<xs:restriction base="xs:string">
<xs:enumeration value="GUEST"/>
<xs:enumeration value="PARTNER"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>