HolidayReservationSystemJavaSEClient/xml-resources/web-service-references/HotelReservationSystemWebService/wsdl/localhost_8080/HotelReservationSystemWebService/HotelReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HotelReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HotelReservationSystemWebService/HotelReservationSystemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewAllReservations">
<part name="parameters" element="tns:viewAllReservations"/>
</message>
<message name="viewAllReservationsResponse">
<part name="parameters" element="tns:viewAllReservationsResponse"/>
</message>
<message name="EntityMissingException">
<part name="fault" element="tns:EntityMissingException"/>
</message>
<message name="WrongAccountTypeException">
<part name="fault" element="tns:WrongAccountTypeException"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="searchRooms">
<part name="parameters" element="tns:searchRooms"/>
</message>
<message name="searchRoomsResponse">
<part name="parameters" element="tns:searchRoomsResponse"/>
</message>
<message name="InvalidDateRangeException">
<part name="fault" element="tns:InvalidDateRangeException"/>
</message>
<message name="getRoomReservationRate">
<part name="parameters" element="tns:getRoomReservationRate"/>
</message>
<message name="getRoomReservationRateResponse">
<part name="parameters" element="tns:getRoomReservationRateResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="reserveRoom">
<part name="parameters" element="tns:reserveRoom"/>
</message>
<message name="reserveRoomResponse">
<part name="parameters" element="tns:reserveRoomResponse"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<portType name="HotelReservationSystemWebService">
<operation name="viewAllReservations">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewAllReservationsRequest" message="tns:viewAllReservations"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewAllReservationsResponse" message="tns:viewAllReservationsResponse"/>
<fault message="tns:EntityMissingException" name="EntityMissingException" wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewAllReservations/Fault/EntityMissingException"/>
<fault message="tns:WrongAccountTypeException" name="WrongAccountTypeException" wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewAllReservations/Fault/WrongAccountTypeException"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="searchRooms">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/searchRoomsRequest" message="tns:searchRooms"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/searchRoomsResponse" message="tns:searchRoomsResponse"/>
<fault message="tns:InvalidDateRangeException" name="InvalidDateRangeException" wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/searchRooms/Fault/InvalidDateRangeException"/>
</operation>
<operation name="getRoomReservationRate">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getRoomReservationRateRequest" message="tns:getRoomReservationRate"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getRoomReservationRateResponse" message="tns:getRoomReservationRateResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/getRoomReservationRate/Fault/Exception"/>
</operation>
<operation name="reserveRoom">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/reserveRoomRequest" message="tns:reserveRoom"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/reserveRoomResponse" message="tns:reserveRoomResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/reserveRoom/Fault/Exception"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationSystemWebService/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
</operation>
</portType>
<binding name="HotelReservationSystemWebServicePortBinding" type="tns:HotelReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EntityMissingException">
<soap:fault name="EntityMissingException" use="literal"/>
</fault>
<fault name="WrongAccountTypeException">
<soap:fault name="WrongAccountTypeException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidDateRangeException">
<soap:fault name="InvalidDateRangeException" use="literal"/>
</fault>
</operation>
<operation name="getRoomReservationRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="reserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HotelReservationSystemWebService">
<port name="HotelReservationSystemWebServicePort" binding="tns:HotelReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/HotelReservationSystemWebService/HotelReservationSystemWebService"/>
</port>
</service>
</definitions>